@import "../../colors.scss";

.panel{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.back{
		background: linear-gradient(#ffffff00, lighten(rgba($azulOscuro, .2), 60%));
		mix-blend-mode: screen;
		display: inline-block;
		padding: 35px;
		margin: 3% 1%;
		border-radius: 10%;
		transition: 1s ease-in;

		&:hover{
			background:linear-gradient(#ffffff00, lighten(rgba($azulOscuro, .2), 80%));
			cursor: pointer;
			transition: 1s ease;
			border-radius: 0;
		}

		.date{
			color: white;
			font-family: 'Lora', serif;
			font-weight: 300;
		}

		.textWeather{
			color: white;
			font-family: 'Karla', sans-serif;
			text-align: center;
			font-weight: 300;
			font-size: 14px;
		}
	}
}

